body {
  background-color: #000000;
}
.Map {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.App {
  text-align: center;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 15px;
  background-color: black;
}

#play_button, #play_again{
  color: #dd3baa;
  font-size: calc(20px + 4vmin);
}

#quiz_one, #end_screen_1 {
  color: #ffff00;
}

#quiz_two, #end_screen_2{
  color: #66ffff;
}

#answer {
  margin-bottom: 7px;
  border-radius: 15px;
  background-color: #333333;
  border: none;
  outline: none;
}
#answer:hover {
  background-color: purple;
}
